* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.userCard {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: inline-block;
}